/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-high-high-service {
	background-color: #f6f6f6;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: center;
	padding: 0;
	color: #58A445;
	border: 1px dotted #58A445;
	
	h3{
		margin: 0;
		padding: .5rem;
		font-size: 1.5rem;
		line-height: 1.5;
	}
	
	p{
		width: 100%;
		padding: 1em;
		margin: 0 auto;
		font-size: 1rem;
	}
	
	/* colors */
	
	.has-green-background-color{background-color: #58A445;}
	.has-green-color{color: #58A445;}
	
	.has-blue-background-color{background-color: #1d2a53;}
	.has-blue-color{color: #1d2a53;}
	
	/* block component */
	.block-editor-inner-blocks{width: 100%;}
}
