/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-high-high-service {
	background-color: #fafafa;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	padding: 15px;
	color: #58A445;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / .3);
	
	
	
	.service-title{
		flex: 0 0 100%;
		margin: 0;
		padding-bottom: .5rem;
		font-size: 1.5rem;
		line-height: 1.5;
	}
	
	p{
		width: 100%;
		padding: 1em;
		margin: 0 auto;
		font-size: 1rem;
	}
	
	.wp-block-button{
		margin-top: 8px;
	}
	
	a.wp-block-button__link{padding: 8px 12px;}
	/* colors */
	
	.has-green-background-color{background-color: #58A445;}
	.has-green-color{color: #58A445;}
	
	.has-blue-background-color{background-color: #1d2a53;}
	.has-blue-color{color: #1d2a53;}
	
}
