/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-high-card-block-high-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:.5em;  
    

    .high-card-image {
        flex-shrink: 0;
        width: 35%;
        margin-right: 1em;

        & img {
            display: block;
            width: 100%;
        }
    }

    h3 {
        font-size: 36px;
        font-weight: 300;
        margin: 0 0 22px 0;

        
        }   

		@media screen and (max-width: 520px) {
			flex-direction: column;
		}
    
    }


